
name: Deploy Website to Host

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: FTP Deploy Action via lftp (FTP, SFTP, FTPS)
        # You may pin to the exact commit or the version.
        # uses: pontago/lftp-deploy-action@47debd112419af76b6b7c0ee7861dc506a26f01b
        uses: pontago/lftp-deploy-action@v1.0.1
        with:
          # Sever Hostname or IP
          host: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          # Default port are FTP(21), SFTP(22).
          port: 21
          # Transfer protocol (ftp, ftps, sftp)
          protocol: ftps
          debug: log
          # Timeout in seconds.
          timeout: 30
          max_retries: # optional, default is 5
