
name: Deploy Website to Host

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Fast FTP
        # You may pin to the exact commit or the version.
        # uses: anvil-solutions/Fast-FTP-Action@de62eeaf1c409a96c7304f3bba8bf8194d0fa98f
        uses: anvil-solutions/Fast-FTP-Action@2.1.3
        with:
          # FTP server name (you may need to specify a port)
          server: ${{secrets.FTP_HOST}}
          # FTP account username
          username: ${{ secrets.FTP_USERNAME }}
          # FTP account password
          password: ${{ secrets.FTP_PASSWORD }}
          # Protocol used to deploy (ftp or sftp)
          method: ftps
